.MotionDiv {
  text-align: center;
  background-color: #1b1d22;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.Form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.Form input {
  height: 2.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(66, 66, 66);
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 0.5rem 0 0.5rem;
}

.FormHeader {
  text-align: center;
  font-weight: bold;
}

Button {
  width: 100%;
}

.Error {
  color: rgb(235, 66, 66);
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  transition: all 0.25 ease;
}

.Container {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .Form {
    font-size: 1.5rem;
    gap: 1.5rem;
  }

  .Form input {
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
  }

  Button {
    width: 25%;
    align-self: flex-end;
  }
}

.OptionsForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.OptionsForm input {
  height: 30px;
  width: 30px;
}

.OptionContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  text-align: left;
}

@media (min-width: 768px) {
  .OptionsForm {
    font-size: 1.5rem;
  }
  .OptionsForm input {
    font-size: 1.5rem;
    height: 20px;
    width: 20px;
  }
  .OptionContainer {
    font-size: 1.5rem;
  }
}
