.MotionDiv {
  text-align: center;
  background-color: #121212;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
}

.PollQuestion {
  text-align: left;
  font-size: 1.6rem;
}

.PollNameText {
  text-align: left;
  font-size: 1rem;
  color: gray;
}

.Italics {
  font-style: italic;
  transition: none !important;
}

.Container {
  display: grid;
  gap: 1.5rem;
}

.ErrorContainer {
  display: grid;
  gap: 1.5rem;
  margin-top: 10rem;
}

.ErrorText {
  color: rgb(187, 60, 60);
  font-weight: bold;
  transition: none !important;
}

.ErrorText a {
  color: #c7c75c;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: normal;
}

.PollInfoContainer {
  border-bottom: 1px solid rgb(211, 211, 211);
  max-width: 100%;
}

.Loader {
  border: 4px solid #CBB028;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}