.VoteButton {
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-color: #cbb028;
  color: #cbb028;
  font-size: 1.5rem;
  width: 3rem;
  min-width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  align-self: flex-start;
  margin-left: 1rem;
}

.VoteButton:hover {
  border-color: #e0c952;
  color: #e0c952;
  transition: all 0.25s ease;
  cursor: pointer;
}

.VoteButton:active {
  border-color: #7d6f2b;
  color: #7d6f2b;
}

@media (min-width: 768px) {
  .VoteButton {
    width: 5rem;
    min-width: 5rem;
  }
}

.UnVoteButton {
  background-color: #cbb028;
  border-style: solid;
  border-radius: 8px;
  border-color: #cbb028;
  color: black;
  font-size: 1.5rem;
  width: 3rem;
  min-width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  align-self: flex-start;
  margin-left: 1rem;
}

.UnVoteButton:hover {
  border-color: #e0c952;
  background-color: #e0c952;
  transition: all 0.25s ease;
  cursor: pointer;
}

.UnVoteButton:active {
  border-color: #7d6f2b;
  background-color: #7d6f2b;
}

@media (min-width: 768px) {
  .UnVoteButton {
    width: 5rem;
    min-width: 5rem;
  }
}

.Loader {
  border: 4px solid #131313;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Disabled {
  pointer-events: none;
  cursor: not-allowed;
}
