.VoteButton {
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(255, 68, 11);
  color: rgb(255, 68, 11);
  font-size: 1.5rem;
  width: 3rem;
  min-width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  align-self: flex-start;
  margin-left: 1rem;
}

.VoteButton:hover {
  border-color: rgb(255, 98, 51);
  color: rgb(255, 98, 51);
  transition: all 0.25s ease;
  cursor: pointer;
}

.VoteButton:active {
  border-color: rgb(145, 47, 17);
  color: rgb(145, 47, 17);
}

@media (min-width: 768px) {
  .VoteButton {
    width: 5rem;
    min-width: 5rem;
  }
}

.UnVoteButton {
  background-color: rgb(233, 89, 32);
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(233, 89, 32);
  color: black;
  font-size: 1.5rem;
  width: 3rem;
  min-width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  align-self: flex-start;
  margin-left: 1rem;
}

.UnVoteButton:hover {
  border-color: rgb(255, 98, 51);
  background-color: rgb(255, 98, 51);
  transition: all 0.25s ease;
  cursor: pointer;
}

.UnVoteButton:active {
  border-color: rgb(145, 47, 17);
  background-color: rgb(145, 47, 17);
}

@media (min-width: 768px) {
  .UnVoteButton {
    width: 5rem;
    min-width: 5rem;
  }
}